---
---
$sidebar-width: 600px;

* {
  margin: 0;
  padding: 0;
}

*:focus {
    outline: 0;
}

.hidden {
  display: none;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Open Sans';
  font-size: 20px;
}

input {
  font-family: 'Open Sans';
  font-size: 20px;
  border: none;
}

#map {
  left: $sidebar-width;
  right: 0;
  height: 100%;
  position: absolute;
}

#sidebar {
  position: absolute;
  width: $sidebar-width;
  left: 0;
  height: 100%;
}

.sidebar-item {
  width: 100%;
  position: relative;
}

.sidebar-item-container {
  padding: 5px 20px;
}

#sidebar input {
  width: 100%;
}

#search {
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

#editor,
.CodeMirror {
  font-size: 15px;
  bottom: 0;
}